*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
/* 
font-family: 'Arima Madurai', cursive;
font-family: 'Indie Flower', cursive; */

body {
  background-image: url(images/background3.jpeg);
  background-size: cover;

  position: relative;
  color: white;
}

/* .background-img::before {
  content: "";
  background-image: url(images/background3.jpeg);

  background-size: cover;
  background-position: center;

  position: absolute;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
  opacity: 0.6;
} */

h1 {
  font-family: "Indie Flower", cursive;
  text-align: center;
  font-size: 5rem;
}

p {
  font-family: "Arima Madurai", cursive;
  text-align: center;
  font-size: 3rem;
}

.container {
  width: 90%;
  display: grid;
  margin: 3rem auto;
  grid-template-columns: repeat(6, 1fr);
  grid-template-rows: repeat(4, 1fr);
}

.door {
  font-family: "Arima Madurai", cursive;
  font-size: 4rem;
  text-align: center;
  border: 3px white solid;
  border-radius: 4px;
  padding: 0.5em 0;
}

.door:hover {
  /* add hover effect */
}
