*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
/* 
font-family: 'Arima Madurai', cursive;
font-family: 'Indie Flower', cursive; */

body {
  background-image: url(images/background3.jpeg);
  background-size: cover;

  position: relative;
  color: white;
}

/* .background-img::before {
  content: "";
  background-image: url(images/background3.jpeg);

  background-size: cover;
  background-position: center;

  position: absolute;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
  opacity: 0.6;
} */
